
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sonia Teaching Tools</h5>
          <p class="grey-text text-lighten-4">Soy una maestra y homeshooler productora de material  educativo multilenguaje para homescgooling y refuerzo escolar..</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Sigueme</h5>
          <ul>
            <li><a class="white-text" href="{{ .Site.BaseURL }}/index2.html">Facebook</a></li>
            <li><a class="white-text" href="#">Linked in</a></li>
            <li><a class="white-text" href="#">Youtube</a></li>
            <li><a class="white-text" href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Navegacion</h5>
          <ul>
            <li><a class="white-text" href="#!">Inicio</a></li>
            <li><a class="white-text" href="#!">Tienda</a></li>
            <li><a class="white-text" href="#!">blog</a></li>
            <li><a class="white-text" href="#!">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="#">Sonia</a>
      </div>
    </div>
  </footer>

        
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

        <script type="text/javascript" id="snipcart" src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="M2E5YjA3NjMtYzRiYS00YzVjLWEyYWYtNDY5ZDI0OWZhYjg5"></script>

        <script>
            Snipcart.execute('registerLocale', 'en', {
                powered_by:
                "HoS 'ej pong ngaQ "
            }); 
        </script>
		JavaScript at end of body for optimized loading-->

		
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    </body>
</html>