<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title> Sonia teaching tools shop </title>
  
  <link id="snipcart-theme" type="text/css" href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet">
    <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css"  />
  
     
</head>

<body>
  
    <nav>
	<div class="container">
	  <a href="#" class="brand-logo"><img src="images/sonialogo.svg"></a>

      <div class="nav-wrapper">
    
        <ul id="nav-mobile" class="right ">
          <li class="snipcart-summary">
            <a href="#" class="snipcart-checkout">
              <i class="material-icons left">shopping_cart</i>(<span class="snipcart-total-items">0</span>)
            </a>
          </li>
        </ul>
		
    {{ $currentPage := . }}
    {{ range .Site.Menus.mainmenu }}
    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}

      <ul id="nav-mobile" class="sidenav">
        <li></li>
		<li><a href="#">Navbar Link 2</a></li>
		<li><a href="#">Navbar Link 3</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          
		
		</div>
      </div>
    </nav>
 